body {
   
    font-size: 5rem;
}
.container {
    color: blue;
    width: 70%;
    border: solid;
    border-radius: 10px;
    margin: auto;
}
.font-parrafo{
    color: black;
    font-size: 2rem;

}